################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/lua/gman
/plugin/*.sql
/plugin/*.xml
/sh
/wcf/images/*
/arsenal HTML.txt
