################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/lua/gman
/plugin
/plugin/*
/sh
/wcf/images/*
/arsenal HTML.txt
/DBFilesClient
/DBFilesClient/*
.gitignore
_config.yml
index.php
info.falkenbann.guildman.phpproj
info.falkenbann.guildman.sln
info.falkenbann.guildman.tar.gz
plugin.bat
wowicon.zip